 <div class="header center " style="font-size: 30px;">
    <h1 class="black-text">
       Plaza E3519
    </h1>
 </div>

 <div class="row"
  style="margin: -2em; padding: 2em; border-radius: 1em;">
    
      <div class="card  blue lighten-2">
        <div class="card-content white-text">
          <span class="card-title black-text" >Categoria: PROFESOR DE ASIGNATURA DE E.S. “A”</span>
          <p class="black-text" style="font-size: 19px;">Haber obtenido, por lo menos con un año de anterioridad a su ingreso, 
            el título de licenciatura expedido por una institución de educación superior, 
            correspondiente a la disciplina del conocimiento relacionado con la 
            asignatura que se vaya a impartir.</p>
            <br>
            <p class="black-text" style="font-size: 19px;">Sin Alternativa</p>
        </div>
       <br>
      </div>
      <a href="/convocatorias/convo" class="blue lighten-4 btn-large black-text">atras</a>
    <a href="/form/inicio" class="grey lighten-4 btn-large black-text">siguiente</a>
  </div>