body{
    padding: 50px;
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a{
    color: #529a88;
  }
  
  h1{
    color: rgb(125, 14, 185);
  }

  .card-title.add-project {
    color: #e08e8e; 
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    font-size: 24px;
  }