<div class="progress">
      <div class="indeterminate"></div>
  </div> 
<h1 class="header center grey-text black-text">
  Sobre Nosotros</h1>

    <div class="col s5 m4">
      <div class="card center aqua lighten-1">
          <img class="row center" width="450 " src="/12.png" 
        style="border-radius: 4em;">
        <div class="card-content black-text text-darken-3" style="font-size: 20px;">
          <p >Gonzalez Reyes Leonardo Flavio.</p>
          <p>Estudiante de 9 Semestre.</p>
          <p>Del Instituto Tecnologico Gustavo A. Madero,</p>
          
        </div>
      </div>
    </div>

     <div class="col left s10 m5">
        <div class="card-panel blue darken-2 z-depth-9">
          <div class="row valign-wrapper">
            <div class="col s5">
              <img src="images/itgam.png"  class="square responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text text-darken-3" style="font-size: 20px;">
                Esta aplicacion es desarrollada para que los docentes interesados puedan Ingresar a las
                convocatorias y poder postularse en la de su preferncia,la aplicacion nos permite verificar que convocatorias estan apeturturadas, 
                nos permite registrar un Usuario al igual que nos permite llenar un formulario de resgistro.
              </span>
            </div>
          </div>
        </div>
      </div>

            
          </div>
        </div>
      </div>