<h1 class="header center grey-text black-text">
  Sobre Nosotros</h1>

    <div class="col s5 m4">
      <div class="card center grey lighten-1">
          <img class="row center" width="450 " src="/1.png" 
        style="border-radius: 2em;">
        <div class="card-content grey-text text-darken-3" style="font-size: 20px;">
          <p >Gonzalez Reyes Leonardo Flavio.</p>
          <p>Estudiante de 9 Semestre.</p>
          <p>Estudiante de la Carrera de TICS.</p>
          <p>Estudiante del ITGAM.</p>
        </div>
      </div>
    </div>

     <div class="col s10 m5">
      <div class="card center grey lighten-1">
         <img class="row center" width="450 " src="/1.png" 
        style="border-radius: 2em;">
        <div class="card-content grey-text text-darken-3" style="font-size: 20px;">
          <p>Rodriguez Gaspar Jesus Andres.</p>
          <p>Estudiante de 9 Semestre.</p>
          <p>Estudiante de la Carrera de TICS.</p>
          <p>Estudiante del ITGAM.</p>
        </div>
      </div>
    </div>

     <div class="col left s10 m5">
        <div class="card-panel grey lighten-1 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s5">
              <img src="images/itgam.png"  class="square responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="grey-text text-darken-3" style="font-size: 20px;">
                Esta paliccaiones es para que los profesores puedan Ingresar a las,
                convocatorias que ejecuta la escuela, asi como personas ajenas a lo que 
                es la institución
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col left s10 m5">
        <div class="card-panel grey lighten-1 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s5">
              <img src="images/itgam.png" alt="" class="square responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="grey-text text-darken-3" style="font-size: 20px;">
                Fue desarrollado dentro de la instalacion del
                Instituto Tecnologico de Gustavo A.Madero
              </span>
            </div>
          </div>
        </div>
      </div>