 {{!-- inicio de tarjetas --}}
 <div class="header center " style="font-size: 30px;">
    <h1 class="black-text" >
        Convocatorias en Apertura
    </h1>
 </div>

 <div class="row">
    <div class="col s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey darken-1-text" style="font-size: 20px;">
            <p class="header center">Plaza E3519</p>
            <p class="header center" >Categoria: PROFESOR DE <br> ASIGNATURA DE E.S. “A”</p>
            <p class="header center">Articulo: 21
            </p>
        </span>
         <div class="row center">
        <a href="convo/con" id="download-button"
        class="btn-large green lighten-2 grey-text text-darken-3">
            Ver más...
        </a>
    </div>
      </div>
    </div>
    {{!-- segunda tarjeta --}}
    <div class="row center">
    <div class="col  s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey darken-1-text" style="font-size: 20.5px;">
            <p class="header center">Plaza E3521</p>
            <p class="header center" >Categoria: PROFESOR DE ASIGNATURA DE E.S. “B”</p>
            <p class="header center">Articulo: 22</p>
        </span>
         <div class="row center">
        <a href="convo/cons" id="download-button"
        class="btn-large green lighten-2 grey-text text-darken-3">
            Ver más...
        </a>
    </div>
      </div>
    </div>
    {{!-- Tercera tarjerta --}}
  <div class="row ">
    <div class="col  s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey darken-1-text" style="font-size: 20px;">
            <p class="header center">Plaza E3525</p>
            <p class="header center">Categoria: PROFESOR DE ASIGNATURA DE E.S. “C”</p>
            <p class="header center">Convocatorias Cerradas.
            </p>
        </span>
         <div class="row center">
        <a href="user/register" id="download-button"
        class="btn-large green lighten-2 grey-text text-darken-3">
            Ver más...
        </a>
    </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  {{!-- segunda Parte de Tarjetas --}}
 <div class="row">
    <div class="col s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey darken-1-text" style="font-size: 21.5px;">
            <p class="header center">Plazas E3607, E3707 y E3807</p>
            <p class="header center" >Categoria: PROFESOR DE CARRERA DE E.S. ASOCIADO “A”</p>
            <p class="header center">Articulo: 37</p>
        </span>
         <div class="row center">
        <a href="user/register" id="download-button"
        class="btn-large lime grey-text text-darken-3">
            Ver más...
        </a>
    </div>
      </div>
    </div>
    {{!-- segunda tarjeta --}}
    <div class="row center">
    <div class="col  s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey darken-1-text" style="font-size: 21.5px;">
            <p class="header center">Plazas E3609, E3709 y E3809</p>
            <p class="header center">Categoria: PROFESOR DE CARRERA DE E.S. ASOCIADO “B”</p>
            <p class="header center">Articuli: 38 </p>
        </span>
         <div class="row center">
        <a href="user/register" id="download-button"
        class="btn-large lime grey-text text-darken-3">
            Ver más...
        </a>
    </div>
      </div>
    </div>
    {{!-- Tercera tarjerta --}}
  <div class="row ">
    <div class="col  s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey darken-1-text" style="font-size: 21px;">
            <p class="header center">Plazas E3611, E3711 y E3811</p>
            <p class="header center" >Categoria: PROFESOR DE CARRERA DE E.S. ASOCIADO “C”</p>
            <p class="header center">Articulo: 39
            </p>
        </span>
         <div class="row center">
        <a href="user/register" id="download-button"
        class="btn-large lime grey-text text-darken-3">
            Ver más...
        </a>
    </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  {{!-- Inicio de la Tercera Tarjeta --}}

  <div class="row">
    <div class="col s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey darken-1-text" style="font-size: 21px;">
            <p class="header center">Plazas E3613, E3713 y E3813</p>
            <p class="header center" >Categoria: PROFESOR DE CARRERA DE E.S. TITULAR “A”</p>
            <p class="header center">Articulo: 40
            </p>
        </span>
         <div class="row center">
        <a href="user/register" id="download-button"
        class="btn-large red accent-1 grey-text text-darken-3">
            Ver más...
        </a>
    </div>
      </div>
    </div>
    {{!-- segunda tarjeta --}}
    <div class="row center">
    <div class="col  s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey darken-1-text" style="font-size: 21px;">
            <p class="header center">Plazas E3615, E3715 y E3815</p>
            <p class="header center" >Categoria: PROFESOR DE CARRERA DE E.S. TITULAR “B”</p>
            <p class="header center">Articulo: 41
            </p>
        </span>
         <div class="row center">
        <a href="user/register" id="download-button"
        class="btn-large red accent-1 grey-text text-darken-3">
            Ver más...
        </a>
    </div>
      </div>
    </div>
    {{!-- Tercera tarjerta --}}
  <div class="row ">
    <div class="col  s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey darken-1-text" style="font-size: 21px;">
            <p class="header center">Plazas E3617, E3717 y E3817</p>
            <p class="header center" >Categorias: PROFESOR DE CARRERA DE E.S. TITULAR “C”</p>
            <p class="header center">Articulo: 42
            </p>
        </span>
         <div class="row center">
        <a href="user/register" id="download-button"
        class="btn-large red accent-1 grey-text text-darken-3">
            Ver más...
        </a>
    </div>
      </div>
    </div>
  </div>
  </div>
  </div>
 
 <ul class="pagination center">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="home/convo">1</a></li>
    <li class="waves-effect"><a href="">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>