 <div class="progress">
      <div class="indeterminate"></div> 
      
  </div>
<div class="row center blue rey"
style="margin: 3em; padding: 3em; border-radius: 1em;">
   <h1 class="header center black-text text-darken-3" style="font-size: 30px;">
        Bienvenido
    </h1>
    <h1 class="header center black-text text-darken-3" style="font-size: 30px;">
        Convocatorias para Docentes en el ITGAM
    </h1> 
    
        <img class="row center" width="250 " src="13.jpg" 
        style="border-radius: 2em;">

    <div class="row center">
        <h5 class="header col s12 light black-text text-darken-3">
             Ingresar para poder ver las convocatorias impartidas
            por el ITGAM y formar parte de nuestra plantilla.
        </h5>
    </div>
    <div class="row center">
        <a href="convocatorias/convo" id="download-button"
        class="btn-large red darken-4">
           Ver m치s...
        </a>
    </div>
</div>

{{!-- inicio de tarjetas --}}

 <div class="row">
    <div class="col s9 m4" >
      <div class="card-panel  blue lighten-3" >
        <span class=" black-text text-darken-3" style="font-size: 20px;">
            <p class="header center">Forma parte de Nuestro Instituto.
            </p>
            
            <p class="header center">Conoce nuestras Convocatorias en 
                apertura.
            </p>
        </span>
         <div class="row center">
        <a href="convocatorias/convo" id="download-button"
        class="btn-large red lighten-2 grey-text text-darken-3">
            Ver m치s...
        </a>
    </div>
      </div>
    </div>
    {{!-- segunda tarjeta --}}
   <div class="row">
    <div class="col s9 m4" >
      <div class="card-panel  blue lighten-3" >
        <span class=" black-text text-darken-3" style="font-size: 20px;">
            <p class="header center">Forma parte de Nuestro Instituto.
            </p>
            
            <p class="header center">Conoce nuestras Convocatorias en 
                apertura.
            </p>
        </span>
         <div class="row center">
        <a href="convocatorias/convo" id="download-button"
        class="btn-large red lighten-2 grey-text text-darken-3">
            Ver m치s...
        </a>
    </div>
      </div>
    </div>
    {{!-- Tercera tarjerta --}}
 <div class="row">
    <div class="col s9 m4" >
      <div class="card-panel  blue lighten-3" >
        <span class=" black-text text-darken-3" style="font-size: 20px;">
            <p class="header center">Forma parte de Nuestro Instituto.
            </p>
            
            <p class="header center">Conoce nuestras Convocatorias en 
                apertura.
            </p>
        </span>
         <div class="row center">
        <a href="convocatorias/convo" id="download-button"
        class="btn-large red lighten-2 grey-text text-darken-3">
            Ver m치s...
        </a>
    </div>
      </div>
    </div>
  </div>
   <nav><center>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="convocatorias/convo" class="breadcrumb">convocatorias</a>
        <a href="/about" class="breadcrumb">acerca de Nosotros </a>
       </center>
      </div>
    </div>
  </nav >
  <div class="progress">
      <div class="indeterminate"></div>
  </div> 
  </div>
