<h1 class="center black-text darken-1-text" 
style="font-size: 30px;">
   Postulacion </h1>

<div class="row"
  style="margin: -2em; padding: 2em; border-radius: 1em;">
    
      <div class="card blue lighten-2">
        <div class="card-content white-text">
          <span class="card-title black-text" ></span>
          <p class="center black-text" style="font-size: 22px;">
            Su Postulacion ha sido Aceptada
          </p>
        </div>
        <br>
  </div>
   <br>
   <div class="row center">
      <a href="/" class="green lighten-2 btn-large  black-text">Inicio</a>
   </div>
    