 {{!-- inicio de tarjetas --}}
 <div class="progress">
      <div class="determinate" style="width: 70%"></div>
  </div>
 <div class="header center " style="font-size: 30px;">
    <h1 class="black-text" >
        Convocatorias
    </h1>

<center>
    
    <div class="col s11 m5">
      <div class="card blue darken-1">
        <div class="card-content dark-text">
          <span class="card-title">Plaza E3519</span>
          <p>Categoria: PROFESOR DE <br> ASIGNATURA DE E.S. “A”</p></p> 
           <p class="header center">Articulo: 21
            </p>
        </div>
        <div class="card-action">
          <a href="/tarjeta/tarjetados">leer mas..</a>
        </div>
      </div>
    </div>
  

    <div class="col s11 m5">
      <div class="card blue darken-1">
        <div class="card-content dark-text">
          <span class="card-title">Plaza E3521</span>
        Categoria: PROFESOR DE ASIGNATURA DE E.S. “B”
           <p class="header center">Articulo: 21
            </p>
        </div>
        <div class="card-action">
          <a href="/tarjeta/tarjetaone">leer mas</a>
        </div>
      </div>
    </div> 

    <div class="col s11 m5">
      <div class="card blue darken-1">
        <div class="card-content dark-text">
          <span class="card-title">Plaza E3621</span>
        Categoria: PROFESOR DE ASIGNATURA DE E.S. “B”
           <p class="header center">Articulo: 21
            </p>
        </div>
        <div class="card-action">
          <a href="/tarjeta/tarjetaone">leer mas</a>
        </div>
      </div>
    </div> 

    <div class="col s11 m5">
      <div class="card blue darken-1">
        <div class="card-content dark-text">
          <span class="card-title">Plaza E732</span>
        Categoria: PROFESOR DE ASIGNATURA DE E.S. “B”
           <p class="header center">Articulo: 21
            </p>
        </div>
        <div class="card-action">
          <a href="/tarjeta/tarjetaone">leer mas</a>
        </div>
      </div>
    </div> 

  </div>
 </center>
  </div>

   </div>
 
 