
   <div class="row "
   style="margin: 3em; padding: 2em; border-radius: 1em;">
    <div class="col s18 m12">
      <div class="card center blue lighten-4">
        <div class="card-content white-text">
          <div>
            <img class="row center" width="250 " src="/23.png">
          </div>
          <h1 class=" black-text darken-1-text" style="font-style: italic;">Iniciar Sesion</h1>
           
          <form >
             <div class="card-content ">
          <div class='input-field'>
            <label for='project-name' class="black-text">Correo Electronico</label>
            <input
              placeholder='Ingrese su Correo electronico 📧'
              id='correo'
              name='correo'
              type='text'
              class="validate"
              value="{{ project.name }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es Necesario que ingrese su Correo Electronico"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.name }}
            <span style="color: rgb(6, 8, 150);">Error: {{ errorModel.name }}</span>
            {{/if}}
          </div>
          
        <div class='input-field'>
            <label for='project-name' class="black-text">Ingrese su password</label>
            <input
              placeholder='Ingrese su password 🧨'
              id='correo'
              password='password'
              type='password'
              class="validate"
              value="{{ project.password }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Se requiere ingresar password "
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.password }}
            <span style="color: rgb(24, 79, 182);">Error: {{ errorModel.password }}</span>
            {{/if}}
          </div>  

      <div class="row" style="padding: 1em;">
        <div class="col s12">
          <div class="row center">
        <a href="/" id="download-button"
        class="btn-large grey lighten-1 black-text">
            Iniciar
        </a>
    </div>
        </div>
      </div>
    </form>
          
      </div>
    </div>
  </div>