<h1 class="center black-text darken-1-text" 
style="font-size: 30px;">
    Actividades Comprovatorias de la Experiencia Profecional
    <br>(Orden Cronologico)</h1>
    
{{!-- Segundos Requisitos --}}

 <table class="grey lighten-4">
        <thead>
          <tr>
              <th>Empresa Y/O Instituci칩n</th>
              <th>Perido de <br>
              (Dia,Mes,A침o)a (Dia,Mes,A침o) </th>
              <th>Tiempo Acumulado <br>
              (A침o y Meses)
              </th>
          </tr>
          
        </thead>

        <tbody>
          <tr>
            <td>
             <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
            <td>
               <label>
                    <input type="date" />
                    <input type="date" />
                </label> 
            </td>
            <td>
                 <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
          </tr>

          <tr>
            <td>
             <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
            <td>
               <label>
                    <input type="date" />
                    <input type="date" />
                </label> 
            </td>
            <td>
                 <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
          </tr>

          <tr>
            <td>
             <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
            <td>
               <label>
                    <input type="date" />
                    <input type="date" />
                </label> 
            </td>
            <td>
                 <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
          </tr>

           <tr>
            <td>
             <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
            <td>
               <label>
                    <input type="date" />
                    <input type="date" />
                </label> 
            </td>
            <td>
                 <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
          </tr>

          <tr>
            <td>
             <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
            <td>
               <label>
                    <input type="date" />
                    <input type="date" />
                </label> 
            </td>
            <td>
                 <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
          </tr>

          <tr>
            <td>
             <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
            <td>
               <label>
                    <input type="date" />
                    <input type="date" />
                </label> 
            </td>
            <td>
                 <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
          </tr>

          <tr>
            <td>
             <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
            <td>
               <label>
                    <input type="date" />
                    <input type="date" />
                </label> 
            </td>
            <td>
                 <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
          </tr>

          <tr>
            <td>
             <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
            <td>
               <label>
                    <input type="date" />
                    <input type="date" />
                </label> 
            </td>
            <td>
                 <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
          </tr>

        </tbody>
      </table>

      <br>
      
    <a href="/form/normal" class="grey lighten-4 btn-large black-text">Regresar</a>
    <a href="/form/declaracion" class="grey lighten-4 btn-large black-text">Siguiente</a>
    
</div>