<div class="row "
   style="margin: 1em; padding: 2em; border-radius: 1em;">
    <div class="col s10 m12">
      <div class="card center grey lighten-4">
        <div class="card-content white-text">
          <div class="card black row col 12"
          style="margin: 2em; padding: 2em; border-radius: 1em;">
            <img class="row " width="160 " src="/images/form.jpg">
          </div>
          
          <h1 class=" black-text darken-1-text" style="font-size: 80px;">
            Primer <br> Formulario</h1>

          <form style="margin: 4em; padding: 2em;">
            <div class="input-field center col s6">
          <input  id="nombe" type="text" class="validate ">
          <label for="nombre">Nombre(S)</label>
        </div>

        <div class="input-field col s6">
          <input id="apellidos" type="text" class="validate">
          <label for="apellidos">Apellidos</label>
        </div>

        <div class="input-field col s6">
          <input id="centro" type="text" class="validate">
          <label for="centro">Centro de trabajo</label>
        </div>

        <div class="input-field col s6">
          <input id="numins" type="number" class="validate">
          <label for="numins">Numero institucional</label>
        </div>

         <div class="input-field col s6">
          <input id="numero" type="number" class="validate">
          <label for="numero">Numero de Telefono</label>
        </div>

         <div class="input-field col s6">
          <input id="rfc" type="text" class="validate">
          <label for="rfc">RFC</label>
        </div>

        <div class="input-field black-text col s6">
          <input id="CURP" type="text" class="validate">
          <label for="CURP">CURP</label>
        </div>

        <div class="input-field col s6">
          <input id="entidad" type="text" class="validate">
          <label for="entidad">Entidad Federativa</label>
        </div>

        <div class="input-field col s6">
          <input id="fecha" type="date" class="validate">
          <label for="fecha">Ingreso al Sistema</label>
        </div>
      <div class="row">
      </div>

      <label>
        <input type="checkbox" />
        <span class="black-text">Validacion de Informaci칩n Llenada</span>
      </label>  
    </form>
      </div>
    </div>
    
{{!-- Segundos Requisitos --}}
 <h1 class=" black-text darken-1-text" style="font-size: 25px;">
            Opcion de Escolaridad por la que Participa en la Promoci칩n.</h1>
 <table class="grey lighten-4">
        <thead>
          <tr>
              <th>Escolaridad</th>
              <th>Situaci칩n</th>
              <th>Documento</th>
              <th>Validar</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
                Licenciatura
            </td>
            <td>
               <label>
                    <input type="checkbox" />
                    <span class="black-text">Documento</span>
                </label> 
            </td>
            <td>
                <ul class="collapsible">
                <li><div class="collapsible-header"><i class="material-icons">filter_drama</i>Cargar Documento</div></li>
                </ul>
            </td>
            <td>
                <label>
                    <input type="checkbox" />
                    <span class="black-text">Documento Cargado</span>
                </label> 
            </td>
          </tr>

          <tr>
            <td>
                Especialidad (10 meses o m치s)
            </td>
            <td>
               <label>
                    <input type="checkbox" />
                    <span class="black-text">Documento</span>
                </label> 
            </td>
            <td>
                <ul class="collapsible">
                <li><div class="collapsible-header"><i class="material-icons">filter_drama</i>Cargar Documento</div></li>
                </ul>
            </td>
            <td>
                <label>
                    <input type="checkbox" />
                    <span class="black-text">Documento Cargado</span>
                </label> 
            </td>
          </tr>

          <tr>
            <td>
                Maestria
            </td>
            <td>
               <label>
                    <input type="checkbox" />
                    <span class="black-text">Documento</span>
                </label> 
            </td>
            <td>
                <ul class="collapsible">
                <li><div class="collapsible-header"><i class="material-icons">filter_drama</i>Cargar Documento</div></li>
                </ul>
            </td>
            <td>
                <label>
                    <input type="checkbox" />
                    <span class="black-text">Documento Cargado</span>
                </label> 
            </td>
          </tr>

           <tr>
            <td>
                Doctorado
            </td>
            <td>
               <label>
                    <input type="checkbox" />
                    <span class="black-text">Documento</span>
                </label> 
            </td>
            <td>
                <ul class="collapsible">
                <li><div class="collapsible-header"><i class="material-icons">filter_drama</i>Cargar Documento</div></li>
                </ul>
            </td>
            <td>
                <label>
                    <input type="checkbox" />
                    <span class="black-text">Documento Cargado</span>
                </label> 
            </td>
          </tr>
        </tbody>
      </table>
      <br>
    <a href="/tarjeta/tarjetados" class="grey lighten-4 btn-large black-text">Regresar</a>
    <a href="/form/normal" class="grey lighten-4 btn-large black-text">Siguiente</a>
    
</div>