<h1 class="center black-text darken-1-text" 
style="font-size: 30px;">
   Resumen de Comprobantes Anexados a la <br>
   Solicitud de Promocion Docente entregaods <br>
   por el Profesor </h1>

   <h2 class="center black-text darken-1-text" 
style="font-size: 25px;">Situacion General</h2>
    
{{!-- Segundos Requisitos --}}
<div class="row">
        <div class="col s12">
          This is an inline input field:
          <div class="input-field inline">
            <input id="email_inline" type="email" class="validate">
            <label for="email_inline">Email</label>
            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
          </div>
        </div>
      </div>
 <table class="grey lighten-4">
        <thead>
          <tr>
              <th>Empresa Y/O Instituci칩n</th>
              <th>Perido de <br>
              (Dia,Mes,A침o)a (Dia,Mes,A침o) </th>
              <th>Tiempo Acumulado <br>
              (A침o y Meses)
              </th>
          </tr>
          
        </thead>

        <tbody>
          <tr>
            <td>
             <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
            <td>
               <label>
                    <input type="date" />
                    <input type="date" />
                </label> 
            </td>
            <td>
                 <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
          </tr>

          <tr>
            <td>
             <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
            <td>
               <label>
                    <input type="date" />
                    <input type="date" />
                </label> 
            </td>
            <td>
                 <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
          </tr>

          <tr>
            <td>
             <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
            <td>
               <label>
                    <input type="date" />
                    <input type="date" />
                </label> 
            </td>
            <td>
                 <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
          </tr>

           <tr>
            <td>
             <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
            <td>
               <label>
                    <input type="date" />
                    <input type="date" />
                </label> 
            </td>
            <td>
                 <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
          </tr>

          <tr>
            <td>
             <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
            <td>
               <label>
                    <input type="date" />
                    <input type="date" />
                </label> 
            </td>
            <td>
                 <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
          </tr>

          <tr>
            <td>
             <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
            <td>
               <label>
                    <input type="date" />
                    <input type="date" />
                </label> 
            </td>
            <td>
                 <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
          </tr>

          <tr>
            <td>
             <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
            <td>
               <label>
                    <input type="date" />
                    <input type="date" />
                </label> 
            </td>
            <td>
                 <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
          </tr>

          <tr>
            <td>
             <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
            <td>
               <label>
                    <input type="date" />
                    <input type="date" />
                </label> 
            </td>
            <td>
                 <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            </td>
          </tr>

        </tbody>
      </table>
    <a href="/form/inicio" class="grey lighten-4 btn-large black-text">Regresar</a>
    <a href="/form/normal" class="grey lighten-4 btn-large black-text">Siguiente</a>
    
</div>