<h1 class="center black-text darken-1-text" 
style="font-size: 30px;">
   Resumen de Comprobantes Anexados a la <br>
   Solicitud de Promocion Docente entregaods <br>
   por el Profesor </h1>

   <h2 class="center black-text darken-1-text" 
style="font-size: 25px;">Situacion General</h2>

<table class="grey lighten-4">
        <tbody>
          <tr>
            <td style="font-size: 20px;">
             Nombre: 
             <textarea id="textarea2" class="materialize-textarea" data-length="50"></textarea>
            </td>
          </tr>
          <tr>
            <td style="font-size: 20px;">
             Centro de Trabajo: 
             <textarea id="textarea2" class="materialize-textarea" data-length="50"></textarea>
            </td>
            <td style="font-size: 20px;">
             CCT: 
             <textarea id="textarea2" class="materialize-textarea" data-length="50"></textarea>
            </td>
          </tr>
    </tbody>
    </table>
    <br>
{{!-- Segundos Requisitos --}}

 <table class="grey lighten-4">
        <thead>
          <tr>
              <th></th>
              <th></th>
              <th>
                Observaciones
              </th>
          </tr>
          
        </thead>

        <tbody>
          <tr>
            <td>
             1.- ESCOLARIDAD: TÍTULO O GRADO O <br>
             DOCUMENTO COMPROBATORIO <br>
             (FECHA DE OBTENCIÓN DEL DOCUMENTO)
            </td>
            <td></td>
            <td>
              <p>
                <label>
                  <input  type="checkbox" />
                  <span ><textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                  </span>
                  </label>
                  </p>  
            </td>
          </tr>

          <tr>
             <td>
             2.-CÉDULA PROFESIONAL 
             <br> (NÚMERO DE CÉDULA PROFESIONAL)
            </td>
            <td></td>
            <td>
              <p>
                <label>
                  <input  type="checkbox" />
                  <span ><textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                  </span>
                  </label>
                  </p>  
            </td>
          </tr>

          <tr>
            <td>
             3.-CERTIFICADO DE ESTUDIOS O CARTA PASANTE 
             <br> (EN EL CASO DE COMPROBAR EXPERIENCIA PROFESIONAL)
            </td>
            <td></td>
            <td>
              <p>
                <label>
                  <input  type="checkbox" />
                  <span ><textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                  </span>
                  </label>
                  </p>  
            </td>
          </tr>

           <tr>
             <td>
             4.- HORARIO DE ACTIVIDADES DEL SEMESTRE <br> ANTERIOR Y ACTUAL 
             <br>(PARA LOS CRODES HORARIOS DE <br> TRABAJO CON ACTIVIDADES 
              U HORARIOS Y CONSTANCIA )
            </td>
            <td></td>
            <td>
              <p>
                <label>
                  <input  type="checkbox" />
                  <span ><textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                  </span>
                  </label>
                  </p>  
            </td>
          </tr>

          <tr>
            <td>
             5.- HOJA DE LIBERACIÓN DE ACTIVIDADES <br> (CUMPLIMIENTO SATISFACTORIO) 
             <br> DEL ÚLTIMO SEMESTRE CONCLUIDO
            </td>
            <td></td>
            <td>
              <p>
                <label>
                  <input  type="checkbox" />
                  <span ><textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                  </span>
                  </label>
                  </p>  
            </td>
          </tr>

          <tr>
           <td>
             6.-COPIA(S) DEL TALÓN(ES) DE PAGO DE LA ÚLTIMA 
             <br> QUINCENA ÚNICAMENTE CLAVE(S) A PROMOVERHOJA
            </td>
            <td></td>
            <td>
              <p>
                <label>
                  <input  type="checkbox" />
                  <span ><textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                  </span>
                  </label>
                  </p>  
            </td>
          </tr>

          <tr>
           <td>
             7.- COPIA(S) DE SU(S) CONSTANCIA(S) DE 
             <br> NOMBRAMIENTO(S) DE LA(S) CLAVE(S) A PROMOCIONAR8
            </td>
            <td></td>
            <td>
              <p>
                <label>
                  <input  type="checkbox" />
                  <span ><textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                  </span>
                  </label>
                  </p>  
            </td>
          </tr>

          <tr>
            <td>
            8.- OFICIO DE AUTORIZACIÓN PARA LOS <br>
             CASOS QUE SE ENCUENTREN EN AÑO SABÁTICO
            </td>
            <td></td>
            <td>
              <p>
                <label>
                  <input  type="checkbox" />
                  <span ><textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                  </span>
                  </label>
                  </p>  
            </td>
          </tr>
        </tbody>
      </table>
      <br>
    <a href="/form/inicio" class="grey lighten-4 btn-large black-text">Regresar</a>
    <a href="/form/act" class="grey lighten-4 btn-large black-text">Siguiente</a>
    
</div>