<h1 class="center black-text darken-1-text" 
style="font-size: 30px;">
   Resumen de Comprobantes Anexados a la <br>
   Solicitud de Promocion Docente entregaods <br>
   por el Profesor </h1>

   <h2 class="center black-text darken-1-text" 
style="font-size: 25px;">Situacion General</h2>

<div class="card blue  lighten-4">
<form style="margin: 4em; padding: 2em;">
            <div class=" col s2">
              <p>Nombre:</p>
          <input value="" id="nombe" type="text" class="validate ">
        </div>

        <div class="input-field col s6">
          <p>Centro de Trabajo:</p>
          <input value="" id="apellidos" type="text" class="validate">

        </div>

        <div class="input-field col s6">
          <p>CCT:</p>
          <input value="" id="centro" type="text" class="validate">
        </div>
      <div class="row">
      </div> 
    </form>
</div>
 
    <br>
{{!-- Segundos Requisitos --}}

 <table class="blue lighten-4">
        <thead>
          <tr>
              <th></th>
              <th></th>
              <th>
                Observaciones
              </th>
          </tr>
          
        </thead>

        <tbody>
          <tr>
            <td>
             1.- ESCOLARIDAD: TÍTULO O GRADO O <br>
             DOCUMENTO COMPROBATORIO <br>
             (FECHA DE OBTENCIÓN DEL DOCUMENTO)
            </td>
            <td></td>
            <td>
              <p>
                <label>
                  <input  type="checkbox" />
                  <span ><textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                  </span>
                  </label>
                  </p>  
            </td>
          </tr>

          <tr>
             <td>
             2.-CÉDULA PROFESIONAL 
             <br> (NÚMERO DE CÉDULA PROFESIONAL)
            </td>
            <td></td>
            <td>
              <p>
                <label>
                  <input  type="checkbox" />
                  <span ><textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                  </span>
                  </label>
                  </p>  
            </td>
          </tr>

          <tr>
            <td>
             3.-CERTIFICADO DE ESTUDIOS O CARTA PASANTE 
             <br> (EN EL CASO DE COMPROBAR EXPERIENCIA PROFESIONAL)
            </td>
            <td></td>
            <td>
              <p>
                <label>
                  <input  type="checkbox" />
                  <span ><textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                  </span>
                  </label>
                  </p>  
            </td>
          </tr>

        

        
        </tbody>
      </table>
      <br>
    <a href="/form/inicio" class="grey lighten-4 btn-large black-text">Regresar</a>
    <a href="/esta/espera" class="grey lighten-4 btn-large black-text">Siguiente</a>
    
</div>