 {{!-- inicio de tarjetas --}}
 <div class="header center " style="font-size: 30px;">
    <h1 class="black-text" >
        Convocatorias
    </h1>
 </div>

 <div class="row">
    <div class="col s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey darken-1-text" style="font-size: 20px;">
            <p class="header center">Plaza E3643, E3743 y E3843</p>
            <p class="header center" >Categoria: TÉCNICO DOCENTE DE CARRERA E.S. TITULAR “A”
            <p class="header center">Articulo: 87
            </p>
        </span>
         <div class="row center">
        <a href="convo/con" id="download-button"
        class="btn-large green lighten-2 grey-text text-darken-3">
            Ver más...
        </a>
    </div>
      </div>
    </div>
    {{!-- segunda tarjeta --}}
    <div class="row center">
    <div class="col  s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey darken-1-text" style="font-size: 20.5px;">
            <p class="header center">Plaza E3675, E3775 y E3875</p>
            <p class="header center" >Categoria: TÉCNICO DOCENTE DE CARRERA E.S. TITULAR “C”</p>
            <p class="header center">Articulo: </p>
        </span>
         <div class="row center">
        <a href="convo/cons" id="download-button"
        class="btn-large green lighten-2 grey-text text-darken-3">
            Ver más...
        </a>
    </div>
      </div>
    </div>
  </div>
   <ul class="pagination center">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="/convo">1</a></li>
    <li class="waves-effect"><a href="/list/uno">2</a></li>
    <li class="waves-effect"><a href="#">3</a></li>
    <li class="waves-effect"><a href="/list/tres">4</a></li>
    <li class="waves-effect"><a href="/list/cuatro">5</a></li>
    <li class="waves-effect"><a href="/list/dos">6</a></li>

    <i class="material-icons">chevron_right</i>
  </ul>
 
 