 {{!-- inicio de tarjetas --}}
 <div class="header center " style="font-size: 30px;">
    <h1 class="black-text" >
        Convocatorias 
    </h1>
 </div>

 <div class="row">
    <div class="col s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey darken-1-text" style="font-size: 20px;">
            <p class="header center">Plaza E3659, E3759 y E3859</p>
            <p class="header center" >Categoria: PROFESOR INVESTIGADOR DE CARRERA TITULAR “A”</p>
            <p class="header center">Articulo: 48
            </p>
        </span>
         <div class="row center">
        <a href="convo/con" id="download-button"
        class="btn-large green lighten-2 grey-text text-darken-3">
            Ver más...
        </a>
    </div>
      </div>
    </div>
    {{!-- segunda tarjeta --}}
    <div class="row center">
    <div class="col  s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey darken-1-text" style="font-size: 20.5px;">
            <p class="header center">Plaza E3661, E3761 y E3861</p>
            <p class="header center" >Categoria: PROFESOR INVESTIGADOR DE CARRERA TITULAR “B”</p>
            <p class="header center">Articulo: 49

            </p>
        </span>
         <div class="row center">
        <a href="convo/cons" id="download-button"
        class="btn-large green lighten-2 grey-text text-darken-3">
            Ver más...
        </a>
    </div>
      </div>
    </div>
    {{!-- Tercera tarjerta --}}
  <div class="row ">
    <div class="col  s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey darken-1-text" style="font-size: 20px;">
            <p class="header center">Plaza E3663, E3763 y E3863</p>
            <p class="header center">Categoria: PROFESOR INVESTIGADOR DE CARRERA TITULAR “C”</p>
            <p class="header center">Articulo: 50
            </p>
        </span>
         <div class="row center">
        <a href="user/register" id="download-button"
        class="btn-large green lighten-2 grey-text text-darken-3">
            Ver más...
        </a>
    </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  {{!-- segunda Parte de Tarjetas --}}
 <div class="row">
    <div class="col s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey darken-1-text" style="font-size: 21.5px;">
            <p class="header center">Plazas E3505</p>
            <p class="header center" >Categoria: TÉCNICO DOCENTE DE ASIGNATURA DE E.S. “A”</p>
            <p class="header center">Articulo: 67</p>
        </span>
         <div class="row center">
        <a href="user/register" id="download-button"
        class="btn-large lime grey-text text-darken-3">
            Ver más...
        </a>
    </div>
      </div>
    </div>
    {{!-- segunda tarjeta --}}
    <div class="row center">
    <div class="col  s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey darken-1-text" style="font-size: 21.5px;">
            <p class="header center">Plazas E3507</p>
            <p class="header center">Categoria: TÉCNICO DOCENTE DE ASIGNATURA DE E.S. “B”</p>
            <p class="header center">Articuli: 68 </p>
        </span>
         <div class="row center">
        <a href="user/register" id="download-button"
        class="btn-large lime grey-text text-darken-3">
            Ver más...
        </a>
    </div>
      </div>
    </div>
    {{!-- Tercera tarjerta --}}
  <div class="row ">
    <div class="col  s9 m4" >
      <div class="card-panel  blue lighten-1" >
        <span class=" blue darken-1-text" style="font-size: 21px;">
            <p class="header center">Plazas E3509</p>
            <p class="header center" >Categoria: TÉCNICO DOCENTE DE ASIGNATURA DE E.S. “C”</p>
            <p class="header center">Articulo: 69
            </p>
        </span>
         <div class="row center">
        <a href="user/register" id="download-button"
        class="btn-large lime blue-text text-darken-3">
            Ver más...
        </a>
    </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
 
